@font-face {
  font-family: GraphikLCTT-VA-Regular;
  font-display: swap;
  src: url("../../fonts/GraphikLCTT-VA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: GraphikLCTT-VA-Medium;
  font-display: swap;
  src: url("../../fonts/GraphikLCTT-VA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: GraphikLCTT-VA-Semibold;
  font-display: swap;
  src: url("../../fonts/GraphikLCTT-VA-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: GraphikLCTT-VA-Bold;
  font-display: swap;
  src: url("../../fonts/GraphikLCTT-VA-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// <div class="tabs">
//       <div class="tabs__btns">
//           <button class="tabs__btn"><span></span>111</button>
//           <button class="tabs__btn"><span></span>2222</button>
//           <button class="tabs__btn"><span></span>3333</button>
//       </div>
//       <div class="tabs__inner">
//           <div class="tabs__conent">
//             1
//           </div>
//           <div class="tabs__conent">
//             2
//           </div>
//           <div class="tabs__conent">
//             3
//           </div>
//       </div>
      
//     </div>